.hidden
{
    display: none;
}


#collapsibleNavbar ul li a, #collapsibleNavbar ul li a:visited {
    color: red;
}



#topheader .navbar-nav li.nav-item > a {
	color: white;
	transition: background-color green, color blue;
	
	&:hover,
	&:focus {
		background-color: green;
		color: red;
	}
}

#topheader .navbar-nav li.active > a {
	background-color: white;
	color: black;
}